.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

#header {
  text-align: center;
}

#footer {
  text-align: center;
}

.logo {
  background-image: url("images/buoy.png");
  width: 100px;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.title-words {
  text-align: left;
}

.title-words .name h1 {
  font-weight: bold;
}

.title-words .tagline h2 {
  font-style: italic;
  font-size: 20px;
}


.page-header {
  text-align: center;
  font-weight: bold;
}

.finance-table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.finance-row {
  clear: both;
}


.edit-screen, .select-screen {
  border: 1px solid lightgrey;
  border-radius: 20px;
  height: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.select-screen .delete-button, .select-screen .edit-button, .select-screen .salary {
  padding-left: 5px;
  padding-right: 5px;
}

.select-screen .employment {
  clear: both;
  height: 30px;
  padding: 5px;
  border-radius: 20px;
}

.employment.active {
  background-color: lightgreen;
}

/*Keep footer at bottom, courtesy of CSSReset.com*/

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

#header {
  padding: 10px;
  background: lightgreen;
}

#content {
  padding-bottom: 75px;
  position: relative;
}

#footer {
  background: lightgray;
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
}
