<div class="page-header">Dashboard</div>

<div class="finance-table">
  <div class="finance-row">
    <div class="pull-left">Savings</div>
    <div class="pull-right">$209,500</div>
  </div>
  <div class="finance-row">
    <div class="pull-left">Property</div>
    <div class="pull-right">$606,500</div>
  </div>
  <div class="finance-row">
    <div class="pull-left">Pensions</div>
    <div class="pull-right">$2,620,125</div>
  </div>
  <div class="finance-row">
    <div class="pull-left">{{#link-to "employment" class="employment"}}Employment{{/link-to}}</div>
    <div class="pull-right">$220,200</div>
  </div>
  <div class="finance-row">
    <div class="pull-left">Expenses</div>
    <div class="pull-right">($345,600)</div>
  </div>
  <div class="finance-row">
    <div class="pull-left">Debt</div>
    <div class="pull-right">($960,833)</div>
  </div>
</div>
