Dashboard

<div class="finance-table">
  <div class="finance-row">
    <div>Savings</div>
    <div class="pull-right">$209,500</div>
  </div>
  <div class="finance-row">
    <div>Property</div>
    <div class="pull-right">$606,500</div>
  </div>
  <div class="finance-row">
    <div>Pensions</div>
    <div class="pull-right">$2,620,125</div>
  </div>
  <div class="finance-row">
    <div>{{#link-to "employment" class="employment"}}Employment{{/link-to}}</div>
    <div class="pull-right">$220,200</div>
  </div>
  <div class="finance-row">
    <div>Expenses</div>
    <div class="pull-right">($345,600)</div>
  </div>
  <div class="finance-row">
    <div>Debt</div>
    <div class="pull-right">($960,833)</div>
  </div>
</div>
