<div>
  Employment
</div>
<div class="half edit-screen pull-left">
  <div>
    Name of income source:
    <input placeholder="Feel Good Inc" class="name">
  </div>
  <div>
    Monthly Salary:
    <input placeholder="$XX,000" class="salary">
  </div>
  <button class="add">Add/Save</button>
</div>
<div class="half select-screen pull-right">
  {{#each model as |employment|}}
  <div class="employment">
    <div class="name pull-left">{{employment.name}}</div>
    <div class="delete-button pull-right"> <a {{action 'delete'}} class="delete">delete</a></div>
    <div class="edit-button pull-right"> <a {{action 'edit'}} class="edit">edit</a></div>
    <div class="salary pull-right">{{employment.salary}}</div>
  </div>
  {{/each}}
</div>
